version: '3.9'

services:

  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    env_file:
      - .env
    restart: always

  db:
    image: kartoza/postgis:14-3.1
    env_file:
      - .env
      - .db
    volumes:
      - geo-db-data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: always

  geoserver:
    build: ./geoserver
    env_file:
      - .env
      - .geoserver
    depends_on:
      - db
    restart: always
    expose:
      - 8080
    volumes:
      - ./geoserver-exts:/var/local/geoserver-exts/
      - geoserver_data:/var/local/geoserver
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

volumes:
  geo-db-data:
  caddy_data:
  caddy_config:
  geoserver_data:
