{
    email {$ADMIN_EMAIL}
}

{$SITE_URL} {
    # XXE-Schutz (CVE-2025-58360): Block dangerous methods on /wms
    @wms-block {
        path /geoserver/wms*
        method POST PUT PATCH DELETE
    }
    respond @wms-block "Method Not Allowed" 405

    # XXE-Schutz: Block dangerous methods on /ows
    @ows-block {
        path /geoserver/ows*
        method POST PUT PATCH DELETE
    }
    respond @ows-block "Method Not Allowed" 405

    reverse_proxy geoserver:8080

    header -Server
}
