{
    email {$ADMIN_EMAIL}
}

{$SITE_URL} {
    @wms-block {
        path /geoserver/wms*
        method POST PUT PATCH DELETE
    }
    respond @wms-block "Method Not Allowed" 405

    @ows-block {
        path /geoserver/ows*
        method POST PUT PATCH DELETE
    }
    respond @ows-block "Method Not Allowed" 405

    reverse_proxy geoserver:8080
    header -Server
}
